<!DOCTYPE html>
<html lang="en">

<head>
  <title>Basic Handler | Jcrop Demo</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.Jcrop.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../js/script.js"></script>
  <style>
    table {
      width: 100%;
    }

    th {
      text-align: center;
      padding: 5px;
    }

    table,
    td {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
      text-align: center;
    }
  </style>
</head>

<body>

  <div ng-app="myApp" ng-controller="myCtrl" class="container-fluid">
    <div class="row">
      <div class="col-sm-7" style="padding-top: 20px">
        <!-- This is the image we're attaching Jcrop to -->
        <img src="demo_files/concho-plains-tank.jpg" style="height: 1000px; width: 800px" id="target" />
      </div>

      <div class="col-sm-5" style="padding-top: 20px">
        <table>
          <th colspan="2">
            <button>Add Label/Value</button>
          </th>
          <tr ng-repeat="attrGroup in attrGroups">
            <td width="50%" ng-click="selectBox(attrGroup.label.rect)">
              <div>
                <!-- {{attrGroup.attrId}} -->
                {{attrGroup.label.text}}
              </div>
              <form class="form-inline" action="http://example.com/post.php">
                <input style="width:20%" type="text" class="form-control" placeholder="lx" value="{{attrGroup.label.rect.x}}">
                <input style="width:20%" type="text" class="form-control" placeholder="ly" value="{{attrGroup.label.rect.y}}">
                <input style="width:20%" type="text" class="form-control" placeholder="lw" value="{{attrGroup.label.rect.w}}">
                <input style="width:20%" type="text" class="form-control" placeholder="lh" value="{{attrGroup.label.rect.h}}">
              </form>

            </td>
            <td width="50%" ng-click="selectBox(attrGroup.value.rect)">
              <div>
                <!-- {{attrGroup.attrId}} -->
                {{attrGroup.value.text}}
              </div>
              <form class="form-inline" action="http://example.com/post.php">
                <input style="width:20%" type="text" class="form-control" placeholder="vx" value="{{attrGroup.value.rect.x}}">
                <input style="width:20%" type="text" class="form-control" placeholder="vy" value="{{attrGroup.value.rect.y}}">
                <input style="width:20%" type="text" class="form-control" placeholder="vw" value="{{attrGroup.value.rect.w}}">
                <input style="width:20%" type="text" class="form-control" placeholder="vh" value="{{attrGroup.value.rect.h}}">
              </form>
            </td>
          </tr>
        </table>

        <div style="margin-top: 25px;">
          <h4 style="text-align: center">Test</h4>
          <form class="form-inline" action="http://example.com/post.php">
            <input style="width:18%" type="text" class="form-control" placeholder="x" value="{{addMe.label.rect.x}}">
            <input style="width:18%" type="text" class="form-control" placeholder="y" value="{{addMe.label.rect.y}}">
            <input style="width:18%" type="text" class="form-control" placeholder="w" value="{{addMe.label.rect.w}}">
            <input style="width:18%" type="text" class="form-control" placeholder="h" value="{{addMe.label.rect.h}}">
          </form>
          <div style="text-align: center">
            <button style="margin-top: 10px; text-align: center" ng-click="addItem()">Add Label Test</button>
          </div>
        </div>

      </div>

    </div>
  </div>

</body>

</html>